USE [master]
GO
/****** Object:  Database [ucbet]    Script Date: 11.01.2023 21:01:10 ******/
CREATE DATABASE [ucbet]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ucbet', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ucbet.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ucbet_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ucbet_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ucbet].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ucbet]
GO
/****** Object:  Table [dbo].[Bilet]    Script Date: 11.01.2023 21:01:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bilet](
	[biletID] [int] IDENTITY(1,1) NOT NULL,
	[sinif] [nvarchar](20) NOT NULL,
	[koltuk] [nvarchar](10) NOT NULL,
	[cinsiyet] [nvarchar](5) NOT NULL,
 CONSTRAINT [PK_Bilet] PRIMARY KEY CLUSTERED 
(
	[biletID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Koltuk]    Script Date: 11.01.2023 21:01:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Koltuk](
	[koltukID] [int] NOT NULL,
	[koltuksayisi] [int] NOT NULL,
	[koltukdurumu] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Koltuk] PRIMARY KEY CLUSTERED 
(
	[koltukID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kullanici]    Script Date: 11.01.2023 21:01:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kullanici](
	[kullaniciID] [int] IDENTITY(1,1) NOT NULL,
	[yetkiId] [int] NOT NULL,
	[TCNO] [nvarchar](11) NULL,
	[pasaportNO] [nchar](7) NULL,
	[ad] [nchar](20) NOT NULL,
	[soyad] [nvarchar](20) NOT NULL,
	[uyruk] [nvarchar](20) NOT NULL,
	[dogumt] [date] NOT NULL,
	[cinsiyet] [nchar](5) NULL,
	[telefonNO] [nvarchar](11) NULL,
	[eposta] [nvarchar](30) NOT NULL,
	[sifre] [nvarchar](16) NOT NULL,
 CONSTRAINT [PK_Kullanici] PRIMARY KEY CLUSTERED 
(
	[kullaniciID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ucuslar]    Script Date: 11.01.2023 21:01:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ucuslar](
	[ucakucusID] [int] IDENTITY(1,1) NOT NULL,
	[biletId] [int] NOT NULL,
	[koltukıd] [int] NOT NULL,
	[gidistarihsaat] [datetime] NOT NULL,
	[donustarihsaat] [datetime] NOT NULL,
	[bagaj] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Ucuslar] PRIMARY KEY CLUSTERED 
(
	[ucakucusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Yetki]    Script Date: 11.01.2023 21:01:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Yetki](
	[yetkiID] [int] IDENTITY(1,1) NOT NULL,
	[yetkiAd] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Yetki] PRIMARY KEY CLUSTERED 
(
	[yetkiID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Kullanici] ON 

INSERT [dbo].[Kullanici] ([kullaniciID], [yetkiId], [TCNO], [pasaportNO], [ad], [soyad], [uyruk], [dogumt], [cinsiyet], [telefonNO], [eposta], [sifre]) VALUES (2, 1, N'12345678900', N'1234567', N'Ahmet               ', N'Bilmemne', N'senseii', CAST(N'2000-12-12' AS Date), N'sense', N'05378928785', N'lşskjflaksjdf', N'adsfkljadsf')
SET IDENTITY_INSERT [dbo].[Kullanici] OFF
GO
SET IDENTITY_INSERT [dbo].[Yetki] ON 

INSERT [dbo].[Yetki] ([yetkiID], [yetkiAd]) VALUES (1, N'Üye')
INSERT [dbo].[Yetki] ([yetkiID], [yetkiAd]) VALUES (2, N'Admin')
SET IDENTITY_INSERT [dbo].[Yetki] OFF
GO
ALTER TABLE [dbo].[Kullanici]  WITH CHECK ADD  CONSTRAINT [FK_Kullanici_Yetki] FOREIGN KEY([yetkiId])
REFERENCES [dbo].[Yetki] ([yetkiID])
GO
ALTER TABLE [dbo].[Kullanici] CHECK CONSTRAINT [FK_Kullanici_Yetki]
GO
ALTER TABLE [dbo].[Ucuslar]  WITH CHECK ADD  CONSTRAINT [FK_Ucuslar_Bilet] FOREIGN KEY([biletId])
REFERENCES [dbo].[Bilet] ([biletID])
GO
ALTER TABLE [dbo].[Ucuslar] CHECK CONSTRAINT [FK_Ucuslar_Bilet]
GO
ALTER TABLE [dbo].[Ucuslar]  WITH CHECK ADD  CONSTRAINT [FK_Ucuslar_Koltuk] FOREIGN KEY([koltukıd])
REFERENCES [dbo].[Koltuk] ([koltukID])
GO
ALTER TABLE [dbo].[Ucuslar] CHECK CONSTRAINT [FK_Ucuslar_Koltuk]
GO
USE [master]
GO
